* {
  box-sizing: border-box;
}
body {
  background-color: lightgrey;
  font-family: Verdana, sans-serif;
}

h2,
h3 {
    margin: 0 0 -0.7em 0;
}

.menu-layout {
  color: black;
  display: flex;
  text-decoration: none;
  margin: 0px auto;
  max-width: 830px;
  width: 100%;
  justify-content: space-between;
}
ul{
  text-align:left;
}
li{
  position:relative;
}
.menu-item {
  flex: 1;
  text-align:center;
  position:relative;
  box-sizing: border-box;
  color: black;
  background-color: #c1946a;
  padding: 1em 2em;
  margin: 1em;
  flex-basis: 30%;
  transition-property: background-color, border-radius;
  transition-duration: 2s;
}
h4{
  justify-content:center;
}
a:link {
  color:black;
  text-decoration: none;
}

.menu-item:hover {
  text-decoration: none;
  background-color: white;
  border-radius: 25%;
}
.column-layout {
  background-color: white;
  margin: 20px auto 0 auto;
  max-width: 800px;
  display: flex;
  padding: 1em;
  line-height: 1.65;
}

.main-column {
  flex: 3;
  order: 1;
}

.sidebar-two {
  flex: 1;
  order: 2;
  text-align: center;
}

img {
  width: 350;
  height: 350;
}

.call-outs-container {
  max-width: 850px;
  margin: 40px auto 0 auto;
  justify-content: space-evenly;
  display: flex;
}

.call-out {
  padding: 10px;
  margin: 10px;
  width: 100%;
  margin-bottom: 10px;
  text-align: auto;
}

.call-out:nth-child(1) {
  background-color: #c1946a;
}
.call-out:nth-child(2) {
  background-color: #c1946a;
}

button {
  background-color: white;
  color: black;
  width: 5rem;
  height: 3rem;
}
